/venv/
/.idea/
/Bin
/Temp

project_root_marker

.agignore

/.vim_l

*.pyc

*.csproj.user
*.suo


**/.vs/
**/.vscode/
UnityPlugin/packages/*
UnityPlugin/packages/*
UnityPlugin/Projeny.Test/obj/
UnityPlugin/Projeny.Test/bin/

